:root { 
--white_A700_7f:#ffffff7f; 
--green_900:#007e23; 
--light_blue_400_0c:#38b9e60c; 
--gray_50:#fff8f6; 
--red_50:#fff4f1; 
--green_A700:#00a02d; 
--black_900:#000000; 
--blue_900_01:#0f4b92; 
--blue_gray_700:#476371; 
--blue_900:#0e4b91; 
--light_blue_50_7f:#d3f3ff7f; 
--blue_gray_600:#546e82; 
--indigo_50:#e5e9ee; 
--gray_900:#001824; 
--gray_900_01:#1f2023; 
--light_blue_50:#e9f9ff; 
--black_900_0c:#0000000c; 
--blue_50:#ebf6ff; 
--white_A700_00:#ffffff00; 
--black_900_cc:#000000cc; 
--black_900_99:#00000099; 
--white_A700_26:#ffffff26; 
--blue_300:#61ace4; 
--blue_100:#c9f1ff; 
--cyan_900:#0d4067; 
--black_900_19:#00000019; 
--light_blue_50_01:#e0f7ff; 
--indigo_700:#29578f; 
--white_A700:#ffffff; 
--indigo_800:#1c547f; 
}