.H1{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-color: #EFF6FF; 
    border-style: solid; 

    @media (min-width: 768px) { 
        padding-left: 1.25rem;
        padding-right: 1.25rem; 
   }
}

.H2{
    display: flex; 
    margin-top: 0.875rem;
    margin-bottom: 0.875rem; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 100%;

    @media (min-width: 768px) { 
    gap: 1.25rem; 
    }
}

.H3{
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
    justify-content: flex-start; 
    align-items: center; 
    width: auto; 
}

.H4{
    object-fit: cover; 
    height: 72px;
    width: 86px;

    @media (min-width: 768px) { 
    height: auto; 
    }
}

.H5{
    display: flex; 
    flex-direction: column; 
    gap: 0.125rem; 
    justify-content: flex-start; 
    align-items: flex-start; 
    width: auto; 
}

.H6{
    width: auto; 
    font-size: 1.5rem;
    line-height: 2rem; 
    color: rgb(18, 18, 66);

    @media (min-width: 640px) { 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    }
    @media (min-width: 768px) { 
    color: 22px;
    }
}

.H7{ 
    font-size: 0.8rem;
    line-height: 0.7rem;
    color: rgb(18, 18, 66);
    letter-spacing: 1px;

    @media (min-width: 640px) { 
    }
    @media (min-width: 768px) { 
    color: 22px;
    }
}

.H8{
    display: flex;
    gap: 2.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.H9{
    font-size: 0.9rem;
    line-height: 1.25rem; 
    text-align: center; 
    color: #1E3A8A; 
    margin-left: 152px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.H10{
    height: 2.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 700; 
    text-align: center; 
}



